img {
    display: block;
    margin-bottom: 10px;
    width: 87px;
    height: auto;
}

button img{
    margin: 10%;
    width: 30px;
}

.butao-asl{
    display: flex;
    width: 70px;
    justify-content: center;
}

#CabecalhoInic{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;
}

body{
    background-color: gold;
}


.janela-criar{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.conteudo{
    position: relative;
    width: 40%;
    min-width: 100px;
    min-height: 300px;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}

.fechar{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #00000080;
    background-color: red;
    cursor: pointer;
}

.janela-criar.abrir{
    display: flex;
}